.title{
    margin-top: 50px;
    text-align: center;
    text-align: center;
    color: #8f873e;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal; 
    line-height: 48px; 
}

.homeImg{
    margin-top: 50px;
    text-align: center;
    text-align: center;
}

.desc{
    margin-top: 50px;
    margin: 50px;
    padding: 30px;
    color: #cfcebf;
    border: solid rgb(43, 6, 6) 2px;
    line-height: 2;
    box-shadow: 1px 1px 3px;
}


.search{
    box-shadow: 1px 1px 3px;
    margin: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(20, 20, 39);
    text-align: center;
    text-align: center;

}
.searchImg{
    margin-top: 50px;
    text-align: center;
    text-align: center;
}

.subTitle{
    margin-top: 40px;
    text-align: center;
    text-align: center;
    color: #8f873e;
    font-family: 'Trocchi', serif;
    font-size: 25px;
    font-weight: normal; 
    line-height: 48px; 
}

#likes{
    color: wheat;
    margin-top: 20px;
    cursor: pointer;
    font-size: large;
}

#likes:hover {
    transform: scale(1.5);
}
  

.favouriteImg{
    box-shadow: 1px 1px 3px;
    margin: 150px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(20, 20, 39);
    text-align: center;
    text-align: center;

}

.searchfavImg{
    margin-top: 50px;
    text-align: center;
    text-align: center;
    cursor: pointer;
}


#dislikes{
    color: wheat;
    margin-top: 20px;
    cursor: pointer;
    font-size: large;
}

#dislikes:hover {
    transform: scale(1.5);
}


  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

.popup {
    margin: 80vh;
    padding: 20px;
    background: rgb(37, 223, 136);
    border-radius: 5px;
    width: 30%;
    position: relative;
    right: 150px;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }








